
.x6-graph-custom-works-next-icon{
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 0;
    vertical-align: top;
    display: block;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    .next-icon-remote{
        width: 100%;
        height: 100%;
        font-size: 0px;
        line-height: inherit;
    }
}