
.x6-graph-custom-works-shortcut{
    width: 100%;
    height: 27px;
    padding: 0 20px;
    background: #fff;
    border-left: solid 0.5px #e7e7ee;
    border-top: 1px solid #dfe0e1;
    border-bottom: 1px solid #dfe0e1;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.x6-graph-custom-works-shortcut-key{
    display: flex;
    align-items: center;
    padding: 4px;
    margin-right: 6px;
    border-radius: 3px;
    height: 22px;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
    &:hover{
        background-color: #dfe0e1;
    }
    &.disabled{
        opacity: 0.3;
        cursor: not-allowed !important;
    }
    &.actived{
        background-color: #dfe0e1;
    }
}

.x6-graph-custom-works-next-icon{
    width: 14px;
    height: 14px;
    line-height: 14px;
}
