
$level1: #33E700;
$level1Inner: #EFFFE0;

$level2: #358AFF;
$level2Inner: #F0F5FF;

$level3: #FF9D00;
$level3Inner: #FFF4E3;

$level4: #FF67A8;
$level4Inner: #FFF0F6;

$level5: #c6c6c6;
$level5Inner: #F7F7F7;

$broderRadius: 2px;
$regionBgColor: #F9FCFF;
$regionBdColor: #CCCCCC;