
/**分页器公共样式*/
.inner_cheetah_common_pagination {
    /* margin: 24px 0; */
    margin-top: 24px;
    display: flex;
    justify-content: center;

    .el-pagination.is-background .el-pager li:not(.disabled).active{
        background-color: #3671FF;
    }
}

.inner_cheetah_common_dialog{

    .el-dialog__header{
        border-bottom: 1px solid #F5F5FA;
        padding: 12px 20px;
        background: #FAFAFC;

        .el-dialog__title{
            font-size: 16px;
            color: #323C41;
            letter-spacing: 0;
            line-height: 24px;
            font-weight: bold;
        }

        .el-dialog__headerbtn{
            top: 14px;
        }
    }

    .el-dialog__body {
        .comps_applicationpositiondialog_form {
            .el-form-item__label {
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #333333;
                letter-spacing: 0;
            }
            .el-radio__label, .el-checkbox__label {
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #333333;
            }
        }
    }

    .el-dialog__footer{
        border-top: 1px solid #F5F5FA;
        padding: 15.5px 20px;
    }
}

.inner_cheetah_common_btns_area {
    text-align: center;

    .el-button{
        width: 112px;
        height: 40px;
        font-size: 14px;
        color: #323C41;
        letter-spacing: 1px;
        text-align: center;
        line-height: 20px;
        border-radius: 2px;
        padding: 0;

        &+.el-button{
            margin-left: 24px;
        }

        &.el-button--primary{
            color: #FFF;
            background-color: #3671FF;
            border-color: #3671FF;
            background: #3671FF;
        }
    }
}

.D2_workspace_common_table{

    &.el-table .el-table__body tr{
        cursor: pointer;
    }

    &.el-table th{
        background: #FAFAFC;
        font-size: 14px;
        color: #333333;
    }

    &.el-table th .cell{
        padding-left: 24px;
        line-height: 23px;
    }

    &.el-table td{
        padding: 11px 0;
        font-size: 14px;
        color: #666666;
        position: relative;
    }

    &.el-table td .cell{
        padding-left: 24px;
        line-height: 23px;
    }
}


.inner_cheetah_common_tabs{

    &.el-tabs{

        .el-tabs__nav-scroll{
            padding-left: 24px;
        }

        .el-tabs__nav-wrap::after{
            height: 1px;
            background-color: #E4E7ED;
        }

        .el-tabs__active-bar{
            background-color: #3671FF;
            height: 3px;
        }

        .el-tabs__header{
            margin: 0;
        }

        .el-tabs__item{
            height: 80px;
            line-height: 80px;
            font-size: 16px;
            color: #333333;
            letter-spacing: 0;
            font-weight: bold;

            &.is-active{
                color: #3671FF;
            }

            &:focus.is-active.is-focus:not(:active){
                box-shadow: none;
                border-radius: 0;
            }
        }
    }
}


.inner_cheetah_common_tree{

    &.el-tree{
        background-color: rgba(255, 255, 255, 0);
        color: #333333;
        letter-spacing: 0;

        .el-tree-node__label{
            font-size: 14px;
        }

        .el-tree-node__content{
            height: 34px;
        }
    }

}
.businessd2_wrapper {
/* // 公共样式 */
.title {
    font-size: 16px;
    color: #131313;
    font-weight: 600;
    height: 64px;
    line-height: 64px;
}
}
/* // 蓝色白底按钮 */
.com-plain-primary-btn {
    border-color: #358aff;
    color: #358aff;
    height: 28px;
    border-radius: 2px;
    padding: 0 10px;
}
/* // 蓝底白字按钮 */
.com-primary-btn {
    background-color: #358aff;
    color: #fff;
    height: 28px;
    border-radius: 2px;
    padding: 0 10px;
}
/* // 蓝底白字按钮-保存按钮 */
.com-primary-large-btn {
    height: 40px;
    padding: 0 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* // 蓝底白字按钮-样式覆盖 */
.com-primary-medium-btn {
    padding: 8px 10px;
    line-height: 20px;
    border-radius: 2px;
}
/* // 带搜索框的表格列表页面 */
.aop_search_table_list {
    .aop_search_top {
        margin-bottom: 12px;
    }
    /deep/.search_table_content {
        background: #fff;
        padding: 16px 24px 24px;
        border-radius: 4px;
        .table-operate-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            h3 {
                font-size: 16px;
                color: #333;
                line-height: 32px;
                font-weight: bold;
            }
            padding-bottom: 16px;
        }

        .table-list {
            .control {
                cursor: pointer;
                span {
                    padding: 0 1em;
                    text-align: center;
                    height: 18px;
                    line-height: 18px;
                }
            }
        }
        .pagination {
            text-align: center;
            padding: 24px 0;
        }
    }
}

.aop_common_page_wrap {
    padding: 12px 16px;
}

/* // 左右分栏布局 */
.side-layout-page-container {
    .el-container {
        padding: 15px 20px 20px 20px;
        .el-aside {
            flex-shrink: 0;
            background: #fff;
        }
    }
    .el-main {
        padding: 0;
        ::v-deep .aop_search_table_list {
            margin-top: 0;
        }
    }
}
/* // tab切换样式覆盖 */
.top-header-tab {
    ::v-deep .el-tabs__header {
        margin: 0;
        .el-tabs__item {
            font-size: 14px;
            font-weight: 600;
            height: 48px;
            line-height: 48px;
        }
        .el-tabs__active-bar {
            height: 3px;
        }
        .el-tabs__nav-wrap::after {
            display: none;
        }
    }
}
/* // 模块设计页面布局 */
.aop-tcb-layout-top {
    height: 48px;
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.aop-tcb-layout-center {
    background-color: #ffffff;
    border-radius: 4px 4px 0 0;
    // padding: 10px 24px 20px 0px;
    padding: 0 0;
    &.radius {
        border-radius: 4px;
    }
    .panel-title {
        font-size: 16px;
        color: #333333;
        font-weight: 500;
    }
}
.aop-tcb-layout-bottom {
    background-color: #ffffff;
    box-shadow: inset 0px 1px 0px 0px rgba(245, 245, 250, 1);
    border-radius: 0px 0px 4px 4px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* // 抽屉样式覆盖 */
.aop-com-drawer {
    ::v-deep .el-drawer__container {
        .el-drawer__header {
            height: 46px;
            padding: 0 24px;
            margin: 0;
            box-shadow: 0px 0.5px 0px 0px rgba(231,231,238,1);font-size: 16px;
            color: #333333;
            font-weight: 600;
        }
    }
}
